.container {
  padding-top: 145px;
  padding-left: 16%;
  padding-right: 16%;
  overflow: hidden;
}

.mainImage {
  border-radius: 100%;
  width: 400px;
  height: 400px;
}

.diviso {
  display: flex;
}

.divDx {
  position: relative;
  width: 50%;
}

.title {
  margin-left: -100px;
  line-height: 55px;
  margin-bottom: 95px;
  font-weight: 600;
  font-size: 95px;
  
}

.DescriptionDesktop, .Description {
  font-size: 18px;
  font-family: "Maitree", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45px;
  color: rgb(117, 117, 117);
}

.Description {
  display: none;
}

.btContact {
  display: none;
}

.btContact:hover {
  background-color: var(--color-blu);
  scale: 1.1;
}

.freccia {
  position: absolute;
  top: -10%;
  right: -11%;
  scale: 0.6;
}

.puntini {
  position: absolute;
  top: 74%;
  right: -70%;
  scale: 0.6;
  rotate: 180deg;
  opacity: 0.5;
}



.color1 {
  background-color: rgb(124, 164, 228);
  width: 40%;
  height: 50%;
  position: absolute;
  top: -40%;
  left: -15%;
  opacity: 0.7;
  border-radius: 100%;
  filter: blur(65px);
  z-index: -1;
}

.color2 {
  background-color: #fc3c3c;
  width: 60%;
  height: 30%;
  position: absolute;
  top: -35%;
  left: 0%;
  opacity: 0.31;
  border-radius: 100%;
  filter: blur(65px);
  z-index: -1;
}

.color3 {
  background-color: #fc3c3c;
  width: 70%;
  height: 250px;
  position: absolute;
  top: -8%;
  right: -10%;
  opacity: 0.28;
  border-radius: 70px;
  filter: blur(95px);
  z-index: -1;
}

.color4 {
  background-color: #33a1fd;
  width: 30%;
  height: 400px;
  position: absolute;
  top: 0%;
  right: -40%;
  opacity: 0.16;
  border-radius: 70px;
  filter: blur(95px);
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  .container {
    padding-top: 95px;
  }

  .title {
    font-size: 68px;
    margin-left: -80px;
    margin-bottom: 40px
  }

  .mainImage {
    width: 300px;
    height: 300px;
  }


  .Description {
    font-size: 17px;
    margin-left: 20px;
  }

  .puntini {
    display: none;
  }

  .btContact {
    margin-left: 45px;
  background-color: var(--color-blu-scuro);
  font-size: 28px;
  border: none;
  color: white;
  border-radius: 22px;
  padding: 10px 18px;
  font-weight: 600;
  transition: scale 0.3s ease;
  text-decoration: none;
  justify-content: flex-start;
  display: block;
  }

  .freccia {
   display: none;
  }

    .color1 {
    opacity: 0.08;
  }

  .color2 {
    opacity: 0.08;
  }
}

@media screen and (max-width: 900px) {
   .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 730px) {
  .container {
    flex-direction: row;
    overflow: hidden;
  }

  .title {
    font-size: 43px;
    line-height: 45px;
    margin-left: -15px;
  }

  .mainImage {
    width: 140px;
    height: 140px;
  }

  .Description {
    font-size: 17px;
    margin-left: 0px;
    display: block;
  }

  .DescriptionDesktop {
    display: none;
  }

  .puntini {
    display: none;
  }


  .btContact {
    margin-left: 20px;

  }

  .freccia {
   display: none;
  }
}

@media screen and (max-width: 630px) {
  .container {
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
  }

}
