.container {
  margin-top: 100px;
  padding-left: 16%;
  padding-right: 16%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  margin-bottom: 35px;
  text-align: left;
    font-size: var(--title-desktop);

}

.blogList {
  display: flex;
}

.right {
   width: 50%;
}

.left {
   width: 50%;
}

.imgBlog {
  width: 100%;
  height: 275px;
}

.article {
  margin-bottom: 30px;
  margin-right: 65px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
 
} 

.titleArticle {
  text-align: left;
  font-size: 38px;
}
.textArticle {
  text-align: left;
  font-size: 15px;
}

.link {
  text-decoration: none;
}

.freccia {
  margin-left: 8px;
  height: 12px;
}

.more {
  border-radius: 22px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  padding: 8px 24px;
  background-color: var(--blu);
  font-size: 16px;
  border: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: scale 0.3s ease;
}

.more:hover {
  scale: 1.1;
}
