.container {
  margin-top: 100px;
  padding-left: 16%;
  padding-right: 16%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  margin-bottom: 65px;
  font-size: var(--title-desktop);
  font-weight: 600;
}

.content {
  display: flex;
}

.Sx {
  width: 40%;
}

.Dx {
  margin-left: 25px;
  width: 60%;
}

.Laptop {
   scale: 0.9;
   height: 60%;
  }

.MainDescription, .secondDescription {
  font-size: 21px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(54, 54, 54);
}

.secondDescription {
  font-weight: 600;
}

.img {
  width: 50%;
}

.point {
  display: flex;
  align-items: center;
}

.icona {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.XRed {
  position: absolute;
  top: 0%;
  right: 23%;
  rotate: 24deg;
  scale: 0.4;
}

.Bolla {
  position: absolute;
  top: 0%;
  right: 10%;
  rotate: 24deg;
  scale: 0.4;
}

.PuntiniBlu {
  position: absolute;
  top: 45%;
  right: -8%;
  rotate: 90deg;
  scale: 0.4;
}

@media screen and (max-width: 1100px) {
  .container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .title {
    font-size: 63px;
    line-height: 55px;
  }

  .Sx {
    display: none;
  }

  .Dx {
    width: 100%;
  }

  .PuntiniBlu {
    right: 0%;
    top: 20%;
    z-index: -1;
    opacity: 0.2;
  }

  .XRed {
    display: none;
  }

  .Bolla {
    z-index: -1;
    opacity: 0.4;
  }
}

@media screen and (max-width: 900px) {
  .container{
    flex-direction: column;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
}


@media screen and (max-width: 750px) {
  .content {
    flex-direction: column;
  }

  .title {
    margin-bottom: 0px;
    font-size: 50px;
  }

  .Laptop {
    scale: 0.6;
    z-index: 10;
   }

  .Sx {
    margin-top: 0px;
    margin-left: 0px;
    display: none;
  }

  .Dx {
    margin-left: 0px;
  }

  .MainDescription, .secondDescription {
    margin-bottom: 8px;
  }

  .MainDescription {
    font-size: 16px;
  }

  .secondDescription {
    font-size: 16px;
  }

  .PuntiniBlu {
    left: 0%;
    top: 20%;
    z-index: -1;
    opacity: 0.3;
  }
}

.color1 {
  background-color: rgb(124, 164, 228);
  width: 20%;
  height: 18%;
  position: absolute;
  top: 60%;
  right: 14%;
  opacity: 0.5;
  border-radius: 100%;
  filter: blur(65px);
  z-index: -1;
}

.color2 {
  background-color: #fc3c3c;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50px;
  left: 0%;
  opacity: 0.21;
  border-radius: 100%;
  filter: blur(95px);
  z-index: -1;
}