.container {
  margin-top: 100px;
  padding-left: 16%;
  padding-right: 16%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  margin-bottom: 65px;
  font-size: var(--title-desktop);
  font-weight: 600;
}

.bolla1 {
  position: absolute;
  top: 100%;
  right: 14%;
  scale: 1.4;
  opacity: 0.7;
  z-index: 10;
}

.progetti {
  display: flex;
}

.progetto1,
.progetto2 {
  border-radius: 20px;
  height: 250px;
  width: 400px;
  overflow: hidden;
  background: rgb(15, 68, 113);
  background: linear-gradient(
    180deg,
    rgba(15, 68, 113, 1) 0%,
    rgba(51, 51, 51, 1) 100%
  );
  transition: transform 0.7s ease-out;
}

.progettoSx {
  margin-right: 40px;
}

.progettoSx, .progettoDx {
  width: 50%;
}

.progetto1:hover .imgProgetto1 {
  transform: scale(1.3);
}

.progetto2:hover .imgProgetto2 {
  transform: scale(1.2);
}

.imgProgetto1 {
  scale: 1.2;
  transition: transform 0.7s ease-out;
}

.imgProgetto2 {
  transition: transform 0.7s ease-out;
}

.name {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  margin-top: 15px;
}

@media screen and (max-width: 1100px) {
  .title {
    font-size: 63px;
  }

  .progetto1, .progetto2 {
    width: 100%;
    margin-bottom: 20px;
    height: 220px;
  }

  .name {
    font-size: 20px;
    margin-top: -12px;
    margin-bottom: 35px;
  }

  .bolla1 {
    top: 0%;
    right: 30%;
    scale: 1;
    z-index: -1;
  }
}

@media screen and (max-width: 900px) {
   .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 630px) {
  .container{
    flex-direction: column;
    margin-top: 95px;
  }

  .title {
    font-size: 43px;
  }

  .progetti {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .progetto1, .progetto2 {
    width: 100%;
    margin-bottom: 20px;
    height: 220px;
  }

  .name {
    font-size: 20px;
    margin-top: -12px;
    margin-bottom: 35px;
  }

  .bolla1 {
    top: 0%;
    right: 30%;
    scale: 1;
    z-index: -1;
  }

  .progettoSx, .progettoDx {
    width: 100%;
  }

}

.color1 {
  background-color: rgb(124, 164, 228);
  width: 20%;
  height: 18%;
  position: absolute;
  top: 20%;
  opacity: 0.4;
  border-radius: 100%;
  filter: blur(65px);
  z-index: -1;
}

.color2 {
  background-color: #fc3c3c;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50px;
  left: 0%;
  opacity: 0.31;
  border-radius: 100%;
  filter: blur(95px);
  z-index: -1;
}

