.container {
  margin-top: 180px;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  display: inline;
  word-wrap: break-word;
  word-break: break-word;
  align-items: center;
  margin-bottom: 48px;
  line-height: 1.2;
  font-size: 71px;
  font-weight: 800;
  text-align: start;
}

.imageTitle {
  display: inline;
  vertical-align: baseline;
  margin: 0 0.3em;
  border-radius: 10px;
  height: 65px;
  width: 55px;
  object-fit: cover;
}

.opinionContainer {
  padding-top: 40px;
}

.titleCarousel {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 65px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBack {
  background-color: var(--blu-scuro);
  color: white;;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 33px;
  margin-right: 20px;
}

.buttonForward {
  background-color: var(--blu-scuro);
  color: white;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 33px;
}

.buttonBack:hover, .buttonForward:hover {
  background-color: var(--blu);
}


.icon {
  width: 32px;
  height: 32px;
}

.carousel {
  display: flex;
  scroll-behavior: smooth;
  overflow: hidden;
  margin-right: 45px;
  max-height: 500px;
}


.card {
  flex: 0 0 45%;
  border-radius: 18px;
  width: 500px;
  height: 400px;
  margin-right: 35px;
  overflow: hidden;
  padding: 7px;
}

.bolla {
  position: absolute;
  top: 20%;
  left: 14%;
  scale: 0.4;
  opacity: 0.7;
  z-index: 10;
}

.puntini {
  position: absolute;
  top: 0%;
  left: 0%;
  scale: 0.5;
  opacity: 0.7;
  z-index: 10;
}

@media screen and (max-width: 1100px) {
  .container {
    margin-top: 90px;
  }

  .title {
    font-size: 63px;
  }

  .puntini {
    scale: 0.3;
    left: 0%;
  }

  .bolla {
    scale: 0.3;
    top: 1%;
  }
  
}

@media screen and (max-width: 900px) {
   .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 630px) {
  .container{
    flex-direction: column;
    margin-top: 95px;
  }

  .carousel {
    margin-right: 0;
    max-height: 100%;
  }

  .card {
    width: 100%;
    margin-right: 0;
    flex: 0 0 100%;
  }

  .title {
    font-size: 35px;
  }

  .imageTitle {
    height: 45px;
    width: 35px;
  }

  .buttonContainer {
    display: block;
    text-align: center;
    line-height: 1;
    margin-bottom: 25px;
  }

  .puntini {
    scale: 0.3;
    left: 40%;
    opacity: 0.4;
  }

  .bolla {
    display: none;
  }
  
}

.color1 {
  background-color: #fc3c3c;
  width: 28%;
  height: 38%;
  position: absolute;
  top: 20%;
  right: 10%;
  opacity: 0.25;
  border-radius: 100%;
  filter: blur(95px);
  z-index: -1;
}

.color2 {
  background-color: rgb(124, 164, 228);
  width: 40%;
  height: 40%;
  position: absolute;
  top: 35%;
  left: 20%;
  opacity: 0.21;
  border-radius: 100%;
  filter: blur(65px);
  z-index: -1;
}
