  .container {
    margin-top: 80px;
    padding-left: 16%;
    padding-right: 16%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 65px;
    font-weight: 600;
    text-align: start;
    font-size: 85px;
}
  
  .video {
    margin: auto;
    height: 370px;
    width: 650px;
  }

  @media screen and (max-width: 1100px) {
  .container {
    margin-top: 90px;
  }

  .title {
    font-size: 63px;
  }

  .video {
    width: 60%;
    height: 320px;
  }
}

@media screen and (max-width: 900px) {
   .container{
    padding-left: 4%;
    padding-right: 4%;
  }

  .video {
    height: 270px;
  }
}

@media screen and (max-width: 630px) {
  .container{
    margin-top: 50px;
  }

  .title {
    font-size: 43px;
  }

  .video {
    height: 160px;
    width: 100%;
  }
}


.color4 {
  background-color: #fc3c3c;
  height: 600px;
  width: 28%;
  position: absolute;
  top: 20%;
  right: 40%;
  opacity: 0.36;
  border-radius: 70px;
  filter: blur(95px);
  z-index: -1;
}