.container {
  margin-top: 80px;
  padding-left: 16%;
  padding-right: 16%;
  position: relative;

}

.title {
  margin-bottom: 65px;
  font-weight: 800;
  text-align: end;
  font-size: 85px;
}


.name {
  font-size: 29px;
  color: black;
  margin-bottom: 18px;
  font-weight: 500;
}

.underline {
  height: 2px;
  width: 50px;
  background-color: #33a1fd;
}


.description {
  margin-top: 5px;
  font-size: 22px;
  margin-bottom: 24px;
  color: rgb(117, 117, 117);
}

.point {
  width: 11px;
  height: 11px;
  margin-right: 7px;
}

.x {
  position: absolute;
  top: 18%;
  left: -4%;
  scale: 0.4;
  rotate: 18deg;
  opacity: 0.7;
}

.xEmpty {
  position: absolute;
  top: 2%;
  right: 4%;
  scale: 0.2;
  rotate: 18deg;
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  .container {
    margin-top: 90px;
  }

  .title {
    font-size: 63px;
  }

  .name, .description {
    width: 100%;
    margin-left: 0px;
  }

  .description {
    font-size: 17px;
  }

  .x {
    display: none;
  }

  .xEmpty {
    scale: 0.1;
    right: 5%;
    top: -4%;
  }
}

@media screen and (max-width: 900px) {
   .container{
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media screen and (max-width: 630px) {
  .container{
    flex-direction: column;
    margin-top: 50px;
  }

  .title {
    font-size: 43px;
  }

  .name, .description {
    width: 100%;
    margin-left: 0px;
  }

  .x {
    scale: 0.2;
    left: -5%;
    top: -4%;
  }

  .xEmpty {
    scale: 0.1;
    right: -5%;
    top: -4%;
  }
}

.puntini {
  position: absolute;
  top: 48%;
  left: -8%;
  scale: 0.4;
  rotate: 180deg;
  opacity: 0.3;
  z-index: -1;
}

.color3 {
  background-color: #33a1fd;
  width: 16%;
  height: 250px;
  position: absolute;
  top: 24%;
  left: 2%;
  opacity: 0.48;
  border-radius: 70px;
  filter: blur(95px);
  z-index: -1;
}

.color4 {
  background-color: #fc3c3c;
  height: 400px;
  width: 8%;
  position: absolute;
  top: 50%;
  right: 0%;
  opacity: 0.36;
  border-radius: 70px;
  filter: blur(95px);
  z-index: -1;
}
