.div {
    display: flex;
    justify-content: center;
}

.call {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    bottom: 5%;
    width: 40%;
    height: 100px;
    line-height: 30px;
    font-size: 40px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #083358;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translateY(100%);
    opacity: 0;
    overflow: hidden;
    z-index: 10000;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: #083358;
    width: 70%;
}

.call.visible {
    transform: translateY(0);
    opacity: 1;
}

.contatti {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  padding: 8px 34px;
  background-color: #fc3c3c;
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin-left: 30px;
  text-decoration: none;
  transition: scale 0.3s ease;
}

.contatti:hover {
  scale: 1.1;
}

.bolla {
    position: absolute;
    right: -10%;
    opacity: 0.6;
    z-index: -1;
    scale: 1.3;
}

@media screen and (max-width: 1100px) {
    .call {
        width: 70%;
        height: 80px;
        padding-left: 20px;
        padding-right: 15px;
    }

    .title {
        font-size: 22px;
        line-height: 17px;
    }

    .contatti {
        padding: 8px 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 630px) {

    .title {
        font-size: 23px;
    }

    .contatti {
        padding: 8px 20px;
        font-size: 16px;
    }
}


@media screen and (max-width: 410px) {
       .title {
        font-size: 17px;
    }
}