.container {
  display: flex;
  padding-top: 20px;
  overflow: hidden;
}

.heroSx {
  padding-left: 170px;
  padding-top: 30px;
  line-height: 1;
  width: 50%;
  position: relative;
}

.heroDx {
  position: relative;
  margin-top: 0;
  width: 50%;
}

.mockup {
  position: absolute;
  top: 15%;
  left: 0%;
  scale:1;
  rotate: 18deg;
  z-index: 15;
}

.bolla1 {
  position: absolute;
  top: 40%;
  left: 0;
  scale: 1.4;
  opacity: 0.7;
}

.bolla2 {
  position: absolute;
  top: 70%;
  left: 60%;
  scale: 1.2;
  opacity: 0.5;
  z-index: 15;
}

.bolla3 {
  position: absolute;
  top: 20%;
  right: 70%;
  scale: 1;
  opacity: 0.9;
  z-index: 0;
}

.bolla4 {
  position: absolute;
  top: 80%;
  right: 20%;
  scale: 0.4;
  opacity: 0.5;
  z-index: 15;
}

.bolla5 {
  position: absolute;
  top:25%;
  left: 70%;
  scale: 1.8;
  opacity: 0.7;
}

@keyframes float {
  0% {
    transform: translatey(0px);
    opacity:(0.5);
  }
  50% {
    transform: translatey(-20px);
    opacity:(0.9);
  }
  100% {
    transform: translatey(0px);
     opacity:(0.5);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px) translatex(0px) ;
  }
  50% {
    transform: translatey(20px) translatex(20px) ;
  }
  100% {
    transform: translatey(0px) translatex(0px) ;
  }
}


@keyframes float3 {
  0% {
    transform: translatey(0px) translatex(0px) ;
  }
  50% {
    transform:  translatex(6px) translateY(-42px) ;
  }
  100% {
    transform: translatex(0px) translateY(0px) ;
  }
}


  .bolla2, .bolla4 {
  animation: float 8s ease-in-out infinite;
}
 .bolla1 {
  animation: float2 5s ease-in-out infinite;
}
 .bolla3, .bolla5 {
  animation: float3 11s ease-in-out infinite;
}

.myWork {
  font-size: 20px;
  color: rgb(117, 117, 117);
}

.myName {
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 75px;
  margin-top: 30px;
  font-weight: 300;
}

.bold {
  font-weight: 800;
}

.heroDown {
  margin-top: 45px;
  display: flex;
}

.line {
  width: 1px;
  height: auto;
  background-color: rgb(0, 0, 0);
}

.myDescription {
  color: rgb(117, 117, 117);
  font-size: 23px;
  width: 300px;
  line-height: 1.5;
  margin-left: 35px;
  align-items: start;
}

@keyframes breath {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.download {
  display: flex;
  position: absolute;
  top: 60%;
  right: 62%;
  padding: 70px 40px;
  background-color: #083358;
  border: none;
  border-radius: 50%;
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: scale 0.3s ease;
  z-index: 15;
  animation: breath 2s infinite ease-in-out;
  cursor: pointer;

}

.download:hover {
  background-color: #33a1fd;
  scale: 1.1;
}

@media screen and (max-width: 1334px) {
  .myName {
    font-size: 60px;
  }
}

@media screen and (max-width: 1004px) {
  .myName {
    font-size: 50px;
  }

  .heroSx {
    padding-left: 50px;
    width: 100%;
  }

  .heroDx {
    margin-top: 50px;
    width: 100%;
     height: 600px;
  }

  .myDescription {
    font-size: 20px;
    width: 250px;
  }

  .download {
    font-size: 25px;
    text-align: center;
  }
  
}

@media screen and (max-width: 830px) {
  .container {
    display: block;
  }

  .myName {
    font-size: 40px;
  }

  .myDescription {
    margin-left: 12px;
  }

  .heroSx {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }

  .heroDx {
    margin-top: 50px;
    width: 100%;
     height: 600px;
  }

  .mockup {
    scale: 0.8;
    top: 0%;
    left: 10%;
  }

  .myDescription {
    font-size: 20px;
    width: 250px;
  }

  .download {
    font-size: 30px;
    top: -15%;
    right: 28%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 4%;
    padding-right: 4%;
  }

  .heroSx {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .heroDx {
    height: 350px;
  }

  .myDescription {
    font-size: 18px;
    width: 100%;
  }

  .myName {
    font-size: 30px;
  }

  .mockup {
    top: 0%;
    left: 5%;
  }

  .download {
    font-size: 20px;
    top: -5%;
    right: 35%;
   padding: 30px 10px;
    align-items: center;
  }

  .bolla2, .bolla4 {
    display: none;
  }
}

.color1 {
  background-color: rgb(124, 164, 228);
  width: 50%;
  height: 30%;
  position: absolute;
  top: 20%;
  right: 5%;
  opacity: 0.7;
  border-radius: 100%;
  filter: blur(110px);
  z-index: -1;
}

.color2 {
  background-color: #fc3c3c;
  width: 20%;
  height: 40%;
  position: absolute;
  top: 40%;
  right: 25%;
  opacity: 0.7;
  border-radius: 100%;
  filter: blur(125px);
  z-index: -1;
}

.color3 {
  background-color: rgb(124, 164, 228);
  width: 50%;
  height: 30%;
  position: absolute;
  top: 0%;
  left: -85%;
  opacity: 0.7;
  border-radius: 100%;
  filter: blur(110px);
  z-index: -1;
}