.container {
    margin-top: 95px;
    padding-left: 16%;
    padding-right: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmed {
    font-size: 85px;
    text-align: center;
}

.subtitle {
    font-size: 35px;
    text-align: center;
    margin-bottom: 65px;
    font-weight: 400;
}

.regalo {
    font-size: 25px;
    text-align: center;
}

.video {
    height: 350px;
    width: 550px;
}

.bolla {
    position: absolute;
    top: 40%;
    right: 15%;
    z-index: -1;
    opacity: 0.6;
    scale: 0.4;
}

.bolla2 {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: -1;
    opacity: 0.6;
}

@media screen and (max-width: 1100px) {
  .container {
    margin-top: 90px;
  }

  .confirmed {
    font-size: 63px;
  }

  .subtitle {
    font-size: 25px;
  }

  .video {
    height: 300px;
    width: 450px;
  
  }
}

@media screen and (max-width: 900px) {
   .container{
    margin-top: 95px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .video {
    height: 250px;
    width: 400px;
  }
}

@media screen and (max-width: 630px) {
  .container{
    margin-top: 125px;
  }

  .confirmed {
    font-size: 43px;
  }

  .subtitle {
    font-size: 20px;
  }

  .video {
    width: 90%;
    height: 30%;
  }
}

.color1 {
  background-color: rgb(124, 164, 228);
  width: 40%;
  height: 55%;
  position: absolute;
  top: 40%;
  opacity: 0.6;
  border-radius: 100%;
  filter: blur(65px);
  z-index: -1;
}