.container {
  margin-top: 70px;
  padding-left: 16%;
  padding-right: 16%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  margin-bottom: 65px;
  font-size: 95px;
  font-family: "Mulish", serif;
  text-align: center;
}

.form {
display: flex;
flex-direction: column;
justify-content: center ;
margin: auto;
width: 50%;
}

.label {
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-left: 12px;
}

.input, .inputArea {
  height: 40px;
  border-radius: 20px;
  margin: 15px 0px;
 background-color: rgb(212, 222, 236);
  opacity: 0.8;
  color: black;
  font-size: 16px;
  padding-left: 12px;
}

.inputArea {
  height: 100px;
  padding-left: 12px;
  padding-top: 6px;
   background: rgb(1, 0, 18);
  background: linear-gradient(
    90deg,
    rgba(1, 0, 18, 1) 0%,
    #0e55c7 100%
  );
  color: white;
}


.btForm {
  justify-content: center;
  display: flex;
}

.invia {
  border-radius: 22px;
  display: flex;
  padding: 4px 30px;
  margin-top: 15px;
  background-color: var(--blu-scuro);
  border: none;
  font-size: 24px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  transition: scale 0.3s ease;
}

.invia:hover {
  background-color: var(--blu);
  scale: 1.1;
}

.freccina {
  position: absolute;
  rotate: 180deg;
  width: 10px;
  scale: 6;
  right: 18%;
  top: 83%;
  
}

.cerchio1 {
  position: absolute;
  top: 18%;
  left: -8%;
  scale: 1.3;
  z-index: -1;
}

.cerchio2 {
  position: absolute;
  top: -4%;
  left: 3%;
  scale: 0.4;
  z-index: -1;
}

.puntiniBlu {
  position: absolute;
  top: 48%;
  right: -8%;
  scale: 0.4;
  rotate: 90deg;
  z-index: -1;
}



@media screen and (max-width: 1100px) {

  .title {
    font-size: 63px;
  }

  .form {
    width: 80%;
  }
  .label {
    font-size: 20px;
    margin-bottom: -15px;
  }

  .freccina {
    scale: 4;
    top: 60%;
    right: 0%;
  }

  .cerchio1 {
    scale: 0.2;
    top: -28%;
    left: -50%;
  }

  .cerchio2 {
   display: none;
  }

  .puntiniBlu {
    top: 0%;
    right: 50%;
  }
}

@media screen and (max-width: 900px) {
   .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 630px) {

  
  .title {
    font-size: 43px;
  }

  .form {
    width: 100%;
  }
  .label {
    font-size: 20px;
    margin-bottom: -15px;
  }

  .freccina {
    display: none;
  }

  .cerchio1 {
    scale: 0.2;
    top: -28%;
    left: -50%;
  }

  .cerchio2 {
   display: none;
  }

  .puntiniBlu {
    top: -20%;
    right: 40%;
  }
}

.color1 {
  background-color: rgb(124, 164, 228);
  width: 30%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: 5%;
  opacity: 0.5;
  border-radius: 100%;
  filter: blur(85px);
  z-index: -1;
}

.color2 {
  background-color: rgb(124, 164, 228);
  width: 20%;
  height: 40%;
  position: absolute;
  top: 30%;
  right: 5%;
  opacity: 0.7;
  border-radius: 100%;
  filter: blur(85px);
  z-index: -1;
}
