.review {
  display: flex;
}

.Sx {
  overflow: hidden;
  padding: 15px;
  border-radius: 15px;
  width: 50%;
}

.media, .image {
  width: 100%;
  height: 800px;
  border-radius: 15px;
}

.image {
  object-fit:fill;
}

.Dx {
  margin: 25px;
  width: 50%;
}

.author {
  display: flex;
  margin-bottom: 15px;
}

.logo {
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.name {
  align-self:  center;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
}

.text {
  font-size: 23px;
  line-height: 1.3;
  margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 630px) {
  .review {
    flex-direction: column;
    padding: 2px;
  }

  .Dx {
    width: 100%;
    order: 1;
    margin: 0;
  }

  .text {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }

  .Sx {
    width: 100%;
    padding: 0px;
    justify-content: center;
    order: 2;
  }

  .author {
    margin-left: 10px;
    margin-top: 15px;
  }

  .name {
    font-weight: 500;
  }

  .review.hasVideo .text {
    display: none;
  }

  .review.noVideo .Sx {
    display: none;
  }
}